<!DOCTYPE html>
<html>

<title>
Tokimon Database: Home
</title>

<link rel="stylesheet" href="/stylesheets/index.css">
<div2> 
<form class="" action="" method="post">
                        <button id="home" type="button" name="button1">HOME</button>
</form>

<form class="" action="/tokimons" method="post">
                        <button id="toki" type="submit" name="button2">TOKIMONS</button>
</form>

<form class="" action="/trainers" method="post">
                        <button id="trainer" type="submit" name="button2">TRAINERS</button>
</form>
</div2>
<div1>
<h1 align="center" >Home Page</h1>

<body>
<p align="center">Welcome to the Tokimon Database!</p>
<h2 align="center">FAQS</h2>
<div name="FAQ">
<h4 align=left;>What is a Tokimon?</h4>
A Tokimon is a rare creature found in the remote areas of Korea. For the most part, they
resemble rabbits and the only form of communication they have with us is the ability to say
their own name. Tokimons come in all shapes and sizes, have special abilities, and tend to fight
with each other on occasion. Each Tokimon could have the ability to fly, fight, throw fire, spray
water, electrify, and freeze other Tokimons.</p>
<br>
<h4 align=left;>Why do Tokimons need trainers?</h4>
Because they are such primitive creatures but have such extraordinary abilities, they
need Tokimon trainers. The trainer's is job to collect Tokimons and use them accordingly. 
<br>
</div 1>
<br>
<h4 align=left;>How do I edit Trainers and/or Tokimons?</h4>
To edit or delete either a Tokimon or a Trainer, simply go to the desired Tokimon/Trainer's 
detail page and click delete or edit. Please Note: a Trainer can only be deleted if they have 0 Tokimons.
<br><br>

</body>