<!DOCTYPE html>
<html>
<%name = data.name%>
<%message = data.msg%>
<%oldname = data.old%>
<%c = data.color%>
<head>
<title><%oldname%> Updated!</title>
</head>


	<link rel="stylesheet" href="/stylesheets/details.css">
<div2> 
<form class="" action="/home" method="post">
                        <button id="home" type="submit" name="button1">HOME</button>
</form>

<form class="" action="/tokimons" method="post">
                        <button id="toki" type="submit" name="button2">TOKIMONS</button>
</form>

<form class="" action="/trainers" method="post">
                        <button id="trainer" type="submit" name="button2">TRAINERS</button>
</form>

</div2>
		<meta charset="utf-8">
		<div1>
	<body>
		<p align= "center" style="color:<%=c%>"><font size="6"><%=message%> </font></p>
		<p algin= "center" id='bd'><a href="/trainer/<%=name%>/details"><font size="5">Back to Details</font></a></p>
	</body>
	</div1>
</html>